.country-flag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin-top: 10px;;
  /* background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; */
}

.country-flag-item{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  transition: transform 0.3s;
  flex-direction: column;
}

.flag-img{
  width: 100px;
  height: 100px;
}
  